body {
    display: flex;
    margin: 0;
    /* flex-direction: row; */
    flex-direction: column;
    align-items: center;
}

text {
    letter-spacing: 0.5px;
}

p {
    letter-spacing: 2px;
    font-weight: normal;
    font-family: "微软雅黑", cursive, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    line-height: 3.5;
    width: 100%;
    height: 100px;
    background-color: rgb(252, 240, 218);
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
    /* max-width: 900px; */
    min-height: 60vh;
    width: 100%;
    letter-spacing: 0.6px;
    line-height: 1.7;
    background-color: rgb(255, 249, 243);
}

.bottom-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 121px;
    line-height: 1.3;
    background-color: rgb(242, 243, 223);
}
